/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
      font-family: "Poppins", sans-serif;
      overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}


/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/*DESKTOP NAV*/


nav,
.nav-links {
    display: flex;

}


nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}


a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
    
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}


/*HAMBURGER NAV*/

#hamburger-nav {
    display: none;
    justify-content: space-between;
    padding: 0 5rem;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}


.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}


.hamburger-icon span  {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links a:hover {
    color: gray;
}


.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}


.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}


.hamburger-icon span:first-child {
    transform: none;
    opacity: 1;
}

/*Profile Section*/

#profile{
    /*DELETE BG-COLOR STYLE LATER*/
    /*background-color: aqua;*/ 
    height: 83vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.section_text  {
    font-weight: bold;
    font-size: 1.2rem;

}

.title {
    font-size: 2.8rem;
}

.section_text_p2 {
    font-size: 2.2rem;
}

/*profile Section Buttons*/

.btn_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 14px;
}

.btn_color2 {
    background-color: rgb(67, 64, 64);
    color: white;
}

.btn_color1 {
    background-color: rgb(255, 255, 255);
    color: black;
}

.btn_color1, 
.btn_color2 {
    border: 0.5px solid;
    height: 2.8rem;
    width: 150px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/*Profile Buttons Hover Style*/

.btn_color1:hover {
    background-color: rgb(67, 64, 64);
    color: white;
}

.btn_color2:hover {
    background-color: black;
}



/*Profile Section Pic Container*/

.section_pic_container img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

/*Profile Section Icon Container*/

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.icon_container img {
    height: 43px;
    cursor: pointer;
}


/*ABOUT SECTION*/

#about_container {
    height: 100vh;

}

.about_image_container img {
    height: 26rem;
    width: auto;
    border-radius: 25px;
}

.about_hero_container,
.about_cards_container {
    display: flex;
    gap: 3rem;
}

.about_card1_container,
.about_card2_container {
    border: 1px solid black;
    border-radius: 16px;
    width: 46%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.about_right_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 26rem;
    gap: 2rem;
}

.about_title_container {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 3rem;

}
.about_title_container h2 {
    font-size: 3rem;
    
}

.about_hero_container {
      padding: 1rem 2rem 0 2rem;

    
}

.about_card1_container img,
.about_card2_container img {
    height: 2rem;
}

/*EXPERIENCE SECTION*/

#experience_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.exp_h2 {
    font-size: 3rem;
    color: black;
}

.experience_main_title_container {
    text-align: center;
}


.experience_frontend_container {
    border: 1px solid black;
    border-radius: 15px;
    margin: 0.8rem 1rem;
    height: auto;
}

.experience_title_container {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: rgb(67, 64, 64);
}

.experience_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience_cards_container img {
    height: 2rem;

}

.experience_cards_direct_container {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
}

.exp_wrap {
    display: flex;
    gap: 0;
    justify-content: center;
    margin: 0 2.5rem;
}


/*CONTACT SECTION*/

.contact_section {
    height: 85vh;
   
}

.contact_card_container {
    border: 1.5px solid gray;
    border-radius: 2rem;
    width: auto;
    padding: 0 1rem;
    height: 6rem;
    display: flex;
    gap: 2rem;
}



.contact_img_container img {
    height: 2.6rem;
    width: auto;
    
}

.contact_direct_card_container {
    display: flex;
    align-items: center
}

.contact_nav ul li {
    list-style: none;
}


.contact_nav ul {
    display: flex;
    gap: 4rem;
    font-size: 1.5rem;
}

#contact_container {
    background-color: white;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_title {
    font-size: 3rem;
    Padding-bottom: 2rem;
}

.contact_text {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*PROJECTS SECTION*/

#projects_section {
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.projects_itr_title {
    font-size: 3rem;
}

.projects_title_container {
    text-align: center;
}
.projects_cards_assets img {
    max-height: 100%;
    height: 16rem;
    width: 20rem;
    max-width: 100%; 
    border-radius: 25px;
    object-fit: cover;
}

.projects_cards_assets {
   text-align: center;
}

.projects_btn_container {
    display: flex;
    justify-content: center;
    gap: 1.1rem;
}

.projects_btn {
    height: auto;
    width: auto;
    padding: 0.8rem 2rem;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 25px;
    margin-top: 1rem;
    font-size: 0.7rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.projects_btn:hover {
    background-color: rgb(67, 64, 64);
    color: white;
    
}

.projects_cards_assets .deco-none{
    text-decoration: none;
}

.projects_cards_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.projects_cards_border {
    background-color: rgb(249, 249, 249);
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 2.2rem 2.2rem 3.5rem 2.2rem;
}
